/*a{
    background-color: darkslategrey;
}
#home{
    background-color: crimson;
}*/

.main__nav--item{
    margin-top: 10px; /*otorga un espacio entres los enunciados*/
    list-style: none;
    padding-left: 0;
}

.main__nav--item{
    display: inline-block;/*Ordena el bloque en una sola linea*/
}

.main__nav--item a{
color: black; /*color a las letras*/
/*background-color: blue;*/ /*color al contorno de las letra*/
text-decoration: none;
border-radius: 5px;
padding: 5px;
}

.main__nav--item a:hover{
    color: red; /*accion al posar el mause */
    font-size: 20px;
}

.main__nav--item a:active{
    color: green; /*accion al hacer un click*/
}

.main__nav--item a::after{
    content: " | " ; /*pone un comentario del texto*/
}